body {
  background-color: #1e2224;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.loader {
  animation: fadeOut 300ms ease-in-out 600ms 1;
  background-color: #1e2224;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

.loader__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50vw;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}
