  /* Anonymous Pro - regular */
  @font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/anonymous-pro-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'),
        url('fonts/anonymous-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/anonymous-pro-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/anonymous-pro-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('fonts/anonymous-pro-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/anonymous-pro-v13-latin-regular.svg#AnonymousPro') format('svg'); /* Legacy iOS */
  }

  /* Anonymous Pro - bold */
  @font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/anonymous-pro-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'),
        url('fonts/anonymous-pro-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/anonymous-pro-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/anonymous-pro-v13-latin-700.woff') format('woff'), /* Modern Browsers */
        url('fonts/anonymous-pro-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/anonymous-pro-v13-latin-700.svg#AnonymousPro') format('svg'); /* Legacy iOS */
  }

  /* Exan */
  @font-face {
    font-family: 'ExanModifiedRegular';
    src: url('fonts/ExanModifiedRegular.eot?#iefix') format('embedded-opentype'),  
         url('fonts/ExanModifiedRegular.otf')  format('opentype'),
         url('fonts/ExanModifiedRegular.woff') format('woff'), 
         url('fonts/ExanModifiedRegular.ttf')  format('truetype'), 
         url('fonts/ExanModifiedRegular.svg#ExanModifiedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }  
